:root {
  --sans-serif-font-family: 'Text Me One', sans-serif;
  --serif-font-family: 'Cinzel', serif;
  --monospace-font-family: 'Share Tech Mono', monospace;
}

body {
  --body-background-color: AliceBlue;
}

.navbar {
  --navbar-background-color: var(--pp);
}

.foot {
  --foot-list-background-color: var(--in);
  --foot-list-link-hover-font-color: var(--black);
}
