{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">

    <nav class="menu">
        <label class="button-red" for="menu-radio1" title="Show Services">
            <i class="fas fa-concierge-bell color-red-into"></i>
            <span class="color-red-into">Services</span>
        </label>
        <label class="button-blue" for="menu-radio2" title="Show Projects">
            <i class="fas fa-jedi color-blue-into"></i>
            <span class="color-blue-into">Projects</span>
        </label>
        <label class="button-purple" for="menu-radio3" title="Show Users">
            <i class="far fa-user color-purple-into"></i>
            <span class="color-purple-into">Users</span>
        </label>
    </nav>

    <main id="admin" class="menu-relay">
        {{ include('back/listServices.twig') }}
        {{ include('back/listProjects.twig') }}
        {{ include('back/listUsers.twig') }}
    </main>
{% endblock %}
