{% extends 'layout/layout.twig' %}

{% block title %}DevsAgency{% endblock %}

{% block description %}
    Développement Web, outils de développement & formation pour développeurs - Technologies open-source & multiplateformes - HTML, Twig, CSS, Sass, JavaScript, PHP, Symfony, SQL, Git & GitHub
{% endblock %}

{% block script %}
    <script src="node_modules/animadio/dist/animadio.js"></script>
    <script src="js/script.js"></script>
{% endblock %}

{% block main %}
<main id="slider" 
    class="slider">
    <input id="slider-radio1" 
        class="slider-radio1" 
        type="radio" 
        name="slider" 
        disabled 
        checked>
    <input id="slider-radio2" 
        class="slider-radio2" 
        type="radio" 
        name="slider" 
        disabled>
    <input id="slider-radio3" 
        class="slider-radio3" 
        type="radio" 
        name="slider" 
        disabled>
    <input id="slider-radio4" 
        class="slider-radio4" 
        type="radio" 
        name="slider" 
        disabled>
    <input id="slider-radio5" 
        class="slider-radio5" 
        type="radio" 
        name="slider" 
        disabled>
    <input id="slider-radio6" 
        class="slider-radio6" 
        type="radio" 
        name="slider" 
        disabled>
    <input id="slider-radio7" 
        class="slider-radio7" 
        type="radio" 
        name="slider" 
        disabled>

    <figure id="slider-relay" 
        class="slider-relay">
        <figure class="slider-target1">
            <img src="img/slider/title.svg" 
                alt="DevsAgency Logo">
        </figure>
        <figure class="slider-target2">
            <img src="img/slider/website.jpg" 
                alt="Website Shop Picture">
            <figcaption>
                Vous avez besoin d'un Site Web Responsive pour votre boutique
            </figcaption>
        </figure>
        <figure class="slider-target3">
            <img src="img/slider/seo.jpg" 
                alt="SEO Expertise Picture">
            <figcaption>
                D'une Expertise SEO pour votre propre site Web
            </figcaption>
        </figure>
        <figure class="slider-target4">
            <img src="img/slider/tool.jpg" 
                alt="Digital Tool Picture">
            <figcaption>
                D'un Outil de Programmation pour votre entreprise
            </figcaption>
        </figure>
        <figure class="slider-target5">
            <img src="img/slider/training.jpg" 
                alt="Development Training Picture">
            <figcaption>
                D'une Formation en Développement pour vous
            </figcaption>
        </figure>
        <figure class="slider-target6">
            <img src="img/slider/welcome.jpg" 
                alt="Recruitment Picture">
            <figcaption>
                Ou du Recrutement de votre futur Développeur
            </figcaption>
        </figure>
        <figure class="slider-target7">
            <img src="img/slider/devsagency.jpg" 
                alt="DevsAgency Picture">
            <figcaption>
                Contacter-nous !
            </figcaption>
        </figure>
    </figure>

    <ul>
        <li>
            <button id="slider-previous" 
                class="slider-previous" 
                title="Previous (&larr;)">
                <i class="fas fa-step-backward fa-2x"></i>
            </button>
        </li>
        <li>
            <button id="slider-auto" 
                class="slider-auto" 
                title="Pause (&uarr;)">
                <i class="fas fa-pause fa-2x"></i>
            </button>
        </li>
        <li class="hide">
            <button id="slider-random" 
                class="slider-random" 
                title="Random (&darr;)">
                <i class="fas fa-random fa-2x"></i>
            </button>
        </li>
        <li>
            <button id="slider-next" 
                class="slider-next" 
                title="Next (&rarr;)">
                <i class="fas fa-step-forward fa-2x"></i>
            </button>
        </li>
    </ul>

    <ul class="slider-progress">
        <li>
            <label for="slider-radio1">
                <i class="fas fa-dot-circle" 
                    aria-hidden="true"></i>
            </label>
        </li>
        <li>
            <label for="slider-radio2">
                <i class="fas fa-dot-circle" 
                    aria-hidden="true"></i>
            </label>
        </li>
        <li>
            <label for="slider-radio3">
                <i class="fas fa-dot-circle" 
                    aria-hidden="true"></i>
            </label>
        </li>
        <li>
            <label for="slider-radio4">
                <i class="fas fa-dot-circle" 
                    aria-hidden="true"></i>
            </label>
        </li>
        <li>
            <label for="slider-radio5">
                <i class="fas fa-dot-circle" 
                    aria-hidden="true"></i>
            </label>
        </li>
        <li>
            <label for="slider-radio6">
                <i class="fas fa-dot-circle" 
                    aria-hidden="true"></i>
            </label>
        </li>
        <li>
            <label for="slider-radio7">
                <i class="fas fa-dot-circle" 
                    aria-hidden="true"></i>
            </label>
        </li>
    </ul>
</main>
{% endblock %}
