{% extends 'layout/layout.twig' %}

{% block subtitle %}Dev Agency{% endblock %}

{% block description %}Web Development, Dev Tools & Developer Training - Open-source & Cross-platform Technologies - HTML, Twig, CSS, Sass, JavaScript, PHP, Symfony, SQL, Git & GitHub{% endblock %}

{% block main %}
    <main id="home" class="container-90tn-80md-70wd mar-bot-md">
        <h2 class="align-center color-gray">Slider Class</h2>

        <header id="slider" class="slider">
            <input id="slider-radio1" class="slider-radio1" type="radio" name="slider" disabled checked>
            <input id="slider-radio2" class="slider-radio2" type="radio" name="slider" disabled>
            <input id="slider-radio3" class="slider-radio3" type="radio" name="slider" disabled>
            <input id="slider-radio4" class="slider-radio4" type="radio" name="slider" disabled>
            <input id="slider-radio5" class="slider-radio5" type="radio" name="slider" disabled>
            <input id="slider-radio6" class="slider-radio6" type="radio" name="slider" disabled>
            <input id="slider-radio7" class="slider-radio7" type="radio" name="slider" disabled>
            <input id="slider-radio8" class="slider-radio8" type="radio" name="slider" disabled>
            <input id="slider-radio9" class="slider-radio9" type="radio" name="slider" disabled>

            <figure id="slider-relay" class="slider-relay">
                <figure class="slider-target1">
                    <img src="https://animadio.org/img/animadio.png" alt="Animadio">
                    <figcaption>Welcome to Animadio !</figcaption>
                </figure>
                <figure class="slider-target2">
                    <img src="https://animadio.org/img/pens/cp-navbar.png" alt="Navbar Example @CodePen">
                    <figcaption>Responsive Navbar</figcaption>
                </figure>
                <figure class="slider-target3">
                    <img src="https://animadio.org/img/pens/cp-card.png" alt="Card Example @CodePen">
                    <figcaption>Design Card</figcaption>
                </figure>
                <figure class="slider-target4">
                    <img src="https://animadio.org/img/pens/cp-btn.png" alt="Btn Example @CodePen">
                    <figcaption>Many Buttons</figcaption>
                </figure>
                <figure class="slider-target5">
                    <img src="https://animadio.org/img/pens/cp-menu.png" alt="Menu Example @CodePen">
                    <figcaption>Effective Menu</figcaption>
                </figure>
                <figure class="slider-target6">
                    <img src="https://animadio.org/img/pens/cp-gallery.png" alt="Gallery Example @CodePen">
                    <figcaption>Awesome Gallery</figcaption>
                </figure>
                <figure class="slider-target7">
                    <img src="https://animadio.org/img/pens/cp-form.png" alt="Form Example @CodePen">
                    <figcaption>Accessible Form</figcaption>
                </figure>
                <figure class="slider-target8">
                    <img src="https://animadio.org/img/pens/cp-table.png" alt="Table Example @CodePen">
                    <figcaption>Clear Table</figcaption>
                </figure>
                <figure class="slider-target9">
                    <img src="https://animadio.org/img/pens/cp-foot.png" alt="Foot Example @CodePen">
                    <figcaption>Structured Foot</figcaption>
                </figure>
            </figure>

            <ul class="slider-controls">
                <li>
                    <ul>
                        <li>
                            <button id="slider-previous" title="Previous (&larr;)">
                                <i class="fas fa-step-backward fa-lg" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li>
                            <button id="slider-auto" title="Pause (&minus;)">
                                <i class="fas fa-pause fa-lg" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li>
                            <button id="slider-random" title="Random (&darr;)">
                                <i class="fas fa-random fa-lg" aria-hidden="true"></i>
                            </button>
                        </li>
                        <li>
                            <button id="slider-next" title="Next (&rarr;)">
                                <i class="fas fa-step-forward fa-lg" aria-hidden="true"></i>
                            </button>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <label for="slider-radio1" accesskey="1" title="1st Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio2" accesskey="2" title="2nd Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio3" accesskey="3" title="3rd Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio4" accesskey="4" title="4th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio5" accesskey="5" title="5th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio6" accesskey="6" title="6th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio7" accesskey="7" title="7th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio8" accesskey="8" title="8th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio9" accesskey="9" title="9th Picture">
                                <i class="fas fa-dot-circle fa-lg" aria-hidden="true"></i>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
    </main>
{% endblock %}
