{% extends 'layout/layout.twig' %}

{% block title %}DevAgency{% endblock %}

{% block description %}Web Development, Dev Tools & Developer Training - Open-source & Cross-platform Technologies - HTML, Twig, CSS, Sass, JavaScript, PHP, Symfony, SQL, Git & GitHub{% endblock %}

{% block main %}
    <main>
        <header id="slider" class="slider anima-grow">
            <input id="slider-radio1" class="slider-radio1" type="radio" name="slider" disabled checked>
            <input id="slider-radio2" class="slider-radio2" type="radio" name="slider" disabled>
            <input id="slider-radio3" class="slider-radio3" type="radio" name="slider" disabled>
            <input id="slider-radio4" class="slider-radio4" type="radio" name="slider" disabled>
            <input id="slider-radio5" class="slider-radio5" type="radio" name="slider" disabled>
            <input id="slider-radio6" class="slider-radio6" type="radio" name="slider" disabled>

            <figure id="slider-relay" class="slider-relay">
                <figure class="slider-target1">
                    <img class="bord-curve" src="img/slider/welcome.jpg" alt="Welcome Picture">
                    <figcaption>Welcome to the Dev Agency !</figcaption>
                </figure>
                <figure class="slider-target2">
                    <img class="bord-curve" src="img/slider/website.jpg" alt="Website Shop Picture">
                    <figcaption>If you need a Responsive Website for your Shop...</figcaption>
                </figure>
                <figure class="slider-target3">
                    <img class="bord-curve" src="img/slider/seo.jpg" alt="SEO Expertise Picture">
                    <figcaption>Or a SEO Expertise for your Own Website...</figcaption>
                </figure>
                <figure class="slider-target4">
                    <img class="bord-curve" src="img/slider/tool.jpg" alt="Digital Tool Picture">
                    <figcaption>Or else a Digital Tool for your Business...</figcaption>
                </figure>
                <figure class="slider-target5">
                    <img class="bord-curve" src="img/slider/training.jpg" alt="Development Training Picture">
                    <figcaption>Or even a Development Training for You...</figcaption>
                </figure>
                <figure class="slider-target6">
                    <img class="bord-curve" src="img/slider/devagency.jpg" alt="DevAgency Picture">
                    <figcaption>You can find All of Them Here, @DevAgency !</figcaption>
                </figure>
             </figure>

            <ul class="slider-controls">
                <li>
                    <ul>
                        <li>
                            <button id="slider-previous" title="Previous (&larr;)">
                                <i class="fas fa-step-backward fa-lg"></i>
                            </button>
                        </li>
                        <li>
                            <button id="slider-auto" title="Pause (&uarr;)">
                                <i class="fas fa-pause fa-lg"></i>
                            </button>
                        </li>
                        <li>
                            <button id="slider-next" title="Next (&rarr;)">
                                <i class="fas fa-step-forward fa-lg"></i>
                            </button>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <label for="slider-radio1" accesskey="1">
                                <i class="fas fa-dot-circle fa-lg"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio2" accesskey="2">
                                <i class="fas fa-dot-circle fa-lg"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio3" accesskey="3">
                                <i class="fas fa-dot-circle fa-lg"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio4" accesskey="4">
                                <i class="fas fa-dot-circle fa-lg"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio5" accesskey="5">
                                <i class="fas fa-dot-circle fa-lg"></i>
                            </label>
                        </li>
                        <li>
                            <label for="slider-radio6" accesskey="6">
                                <i class="fas fa-dot-circle fa-lg"></i>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
    </main>
{% endblock %}
