{% extends 'layout/layout.twig' %}

{% block title %}Services{% endblock %}

{% block description %}Frameworks & Sites Web - Animadio & Free Code Camp Pens - Langages HTML5, Twig, Pugjs, CSS3, SCSS, Stylus, JavaScript, jQuery, CoffeeScript, Nodejs, Expressjs, PHP, MySQL{% endblock %}

{% block main %}
<main>
    <header class="head">
        Nous proposons des services de conception web & mobile avec une attention particulière sur l'ergonomie, les interfaces & la pertinence dans les résultats de recherche.
    </header>
    {% for service in allServices %}
        <section itemscope 
            itemtype="https://schema.org/Service"
             class="container-90tn-80sm-70md-60lg-50wd mar-bot-lg">
            <i class="fas fa-minus fa-lg block mar-lg" 
                aria-hidden="true"></i>
            <i class="fas fa-{{ service.icon }} fa-4x color-in anima-grow-this"></i>
            <h2 itemprop="name">
                {{ service.name }}
            </h2>
            <p itemprop="description">{{ service.description }}</p>
        </section>
    {% endfor %}
</main>
{% endblock %}
