{% extends 'layout/layout.twig' %}

{% block subtitle %}Services{% endblock %}

{% block description %}Frameworks & Websites Projects - Animadio & Free Code Camp Pens - Languages HTML5, Twig, Pugjs, CSS3, SCSS, Stylus, JavaScript, jQuery, CoffeeScript, Nodejs, Expressjs, PHP, MySQL{% endblock %}

{% block main %}
    <article class="text relative" id="services">
        <h2>Nos Services</h2>

        <div class="under-title">
            <span class="disc"></span>
        </div>

        <p>Nous proposons des services de design web & mobile en apportant un soin particulier à l'ergonomie, aux interfaces & à la pertinence dans les résultats de recherche.</p>

        <figure>
            <img class="none" src="img/main-feature.png" alt="Un iMac présentant une galerie d'images">
        </figure>

        <section class="relative" itemscope itemtype="http://schema.org/Service">

            <i class="fas fa-chart-line fa-2x center" aria-hidden="true"></i>
            <div class="rotate">
                <span class="circle"></span>
                <span class="disc"></span>
            </div>

            <h3 itemprop="name">UX design</h3>
            <p itemprop="description">L'expérience utilisateur (en anglais, user experience), aussi connue sous les acronymes EU (Expérience Utilisateur) ou plus couramment UX (User eXperience), est une notion de plus en plus courante là où l'on utilisait, encore récemment, les notions d'ergonomie des logiciels & d'utilisabilité. L'UX réfère à la qualité de l'expérience vécue par l'utilisateur dans des environnements numériques.</p>
        </section>

        <section class="relative" itemscope itemtype="http://schema.org/Service">

            <!-- UI Decoration -->
            <i class="fas fa-cubes fa-2x center" aria-hidden="true"></i>
            <div class="rotate">
                <span class="circle"></span>
                <span class="disc"></span>
            </div>

            <h3 itemprop="name">UI design</h3>
            <p itemprop="description">La conception d'interface utilisateur ou l'ingénierie d'interface utilisateur est la conception d'interfaces utilisateur pour des machines et des logiciels, tels que des ordinateurs, des appareils mobiles et d'autres appareils électroniques, en mettant l'accent sur l'optimisation de la convivialité & de l'expérience utilisateur. La conception de l'interface utilisateur a pour objectif de rendre l'interaction de l'utilisateur aussi simple & efficace que possible, en termes de réalisation des objectifs de l'utilisateur (conception centrée sur l'utilisateur).</p>
        </section>

        <section class="relative" itemscope itemtype="http://schema.org/Service">

            <i class="fas fa-chart-pie fa-2x center" aria-hidden="true"></i>
            <div class="rotate">
                <span class="circle"></span>
                <span class="disc"></span>
            </div>

            <h3 itemprop="name">SEO</h3>
            <p itemprop="description">L’optimisation pour les moteurs de recherche, référencement naturel ou SEO (pour search engine optimization), est un ensemble de techniques visant à optimiser la visibilité d'une page web dans les résultats de recherche (les SERP, pour Search Engine Result Pages). Ces techniques cherchent à améliorer la compréhension de la thématique & du contenu d'une ou de l'ensemble des pages d'un site web par les robots d'indexation, & à augmenter le trafic naturel (organique) du site, ce qui résulte généralement à une meilleure visibilité de l'entreprise ainsi qu'à une augmentation du chiffre d'affaires.</p>
        </section>
    </article>
{% endblock %}
